.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

    @media screen and(min-width: $mobile){
        width: $mobile;
    }

    @media screen and(min-width: $tablet){
        width: $tablet;
    }

    @media screen and(min-width: $desctop){
        width: $desctop;
    }
}

.nav__container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    
        @media screen and(min-width: $mobile) {
            width: $mobile;
            padding-right: 10px;

            justify-content: space-between;
        }
    
        @media screen and(min-width: $tablet) {
            width: $tablet;
        }
    
        @media screen and(min-width: $desctop) {
            width: $desctop;
        }
}

.footer__container {
    @extend .container;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(max-width: 1199px) {
        display: none;
    }
    
    @media screen and(min-width: $desctop) {
        width: $desctop;
        display: flex;
        flex-direction: column;
    }
}

.footer__mobile {
    @extend .container;
    
    padding-top: 60px;
    padding-bottom: 60px;

    flex-direction: column;
    text-align: center;

    @media screen and(min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and(min-width: $desctop){
        display: none;
    }
}



.button {
    border-radius: 4px;
    padding: 10px 32px;

    color: $primary-text-color;
    background-color: $bg-color;
    cursor: pointer;
}