.navigation__logo {
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    color: $accent-color;

    font-family: Raleway;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    &:focus {
            color: $accent-color;
        }

    @media screen and(min-width: $tablet){
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and(min-width: $desctop){
        padding-top: 24px;
        padding-bottom: 25px;

        line-height: 31px;
    }
}