.footer {
    background-color: $third-bg-color;
}

.footer__mobile {
    @extend .container;

    padding-top: 60px;
    padding-bottom: 60px;

    flex-direction: column;
    text-align: center;

    @media screen and(min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and(min-width: $desktop) {
        display: none;
    }
}

.footer__desktop {
    @extend .container;

    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and(max-width: 1200px) {
            display: none;
        }
    
    @media screen and(min-width: 1200px) {
            display: flex;
        }

    @media screen and(min-width: $desktop) {
        width: $desktop;
        display: flex;
        flex-direction: column;
    }
}

.footer__logo {
    padding: 0;

    color: $accent-color;

    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

    @media screen and(min-width: $desktop){
        font-size: 26px;
        line-height: 31px;
    }
}

.footer__title {
        @include flex($align: baseline, $justify: none);
}

.title__logo,
.footer__navigation {
    width: 25%;
}

.title__join,
.footer__block {
    width: 25%;
}

.title__subscribe,
.footer__form {
    width: 50%;
}

.footer__info {
    @include flex($justify: none, $align: flex-start);
}

.address__list {
    margin-top: 20px;
    list-style: none;
}

.footer__address {
    font-size: 14px;
    line-height: 24px;
    color: $white-color;

    @include animation(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.address__title {
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);

    @include animation(color);

    &:focus,
    &:hover {
        color: $accent-color;
    }

    @media screen and(min-width: $desktop){
        margin-top: 9px;
    }
}

.footer__block {
    display: block;
}

.join {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    display: block;
    text-transform: uppercase;
    color: $white-color;
}

.join__add {
    @extend %list;
    @include flex;
    margin-top: 20px;

    @media screen and(min-width: $desktop){
        @include flex($justify: flex-start, $align: flex-start);
    }
}

.join__item {
    margin-right: 10px;

    &:nth-child(4n) {
            margin-right: 0;
        }
}

.join__link {
    @include flex;
    width: 44px;
    height: 44px;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    @include animation(background-color);

    &:focus,
    &:hover {
        color: $accent-color;
        background-color: $accent-color;
    }
}

.join__social {
    fill: $white-color;
}

.form__footer {
    margin-top: 20px;
}

.footer__email {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    

    background-color: $third-bg-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: $white-color;

    @include animation(border outline);

    @media screen and(min-width: $tablet){
        width: 450px;
    }

    @media screen and(min-width: $desktop){
        width: 358px;
        
        margin-right: 12px;
    }

    &::placeholder {
        @include flex($justify:none);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    &:hover {
        border: 2px solid $accent-color;
    }

    &:focus {
        outline: 2px solid $accent-color;
    }
}

.footer__box {
    @media screen and(min-width: $tablet) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
    }
}

.footer__links {
    margin-top: 60px;

    @media screen and(min-width: $tablet){
        margin-top: 0;
    }
}

.footer__form--mobile {
    margin-top: 60px;
}