nav {
    display: flex;
}

.nav__menu {
    display: none;

    @media screen and(min-width: $tablet){
        display: flex;
    }

    @media screen and(min-width: $desctop){
        display: flex;
    }
}

.navigation {
    @extend %list;
    @include flex($justify:none, $align:none);

    @media screen and(min-width: $tablet){
        margin-left: 88px;
    }

    @media screen and(min-width: $desctop){
        margin-left: 93px;
    }
}

.navigation__item:nth-child(n+2) {
    margin-left: 50px;
}

.navigation a {
    position: relative;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;

    color: $secondary-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @include animation(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.navigation__link {
    position: relative;
    display: block;

    padding-right: 0;
    padding-left: 0;

    color: $accent-color;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;

        transition: opasity 250ms $timing-function;
    }
}

.contact {
    @extend %list;
    
    margin-left: auto;

    @media screen and(min-width: $tablet){
        display: block;
        margin-top: 15px;
        margin-left: 50px;
    }

    @media screen and(min-width: $desctop){
        @include flex($justify: none);
        margin-left: 269px;
    }
}

// .contact__item {
//     @media screen ( min-width: $desctop ) {
//         :nth-child(n+2) {
//                 margin-left: 30px;
//             }
//         }
// }

.contact__link {
    @include flex($align:none, $justify:none);
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    
    letter-spacing: 0.02em;
    color: $primary-text-color;

    

    @include animation(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &:hover .mail,
    &:focus .mail {
        fill: $accent-color;
    }

    @media screen and(min-width: $desctop){
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.mail {
    margin-right: 10px;
    fill: $primary-text-color;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $timing-function;
}

.portfolio.header {
    border-bottom: 1px solid #ECECEC;
}