.mobile__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: white;

    z-index: 1;

    @media screen and(min-width: $tablet) {
        display: none;
    }
}

.mobile__backdrop.is-hidden {
    visibility: inherit;
    opacity: 0;
    pointer-events: none;
}

.mobile__menu {
    position: absolute;
    max-width: 100%;
    max-height: 100%;

    background-color: $white-color;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__button {
    @include flex;
    @include animation(fill);
    width: 40px;
    height: 40px;
    margin-top: 10px;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
        outline: 1px solid $accent-color;
    }

    &:hover .nav__icon,
    &:focus .nav__icon {
        fill: $accent-color;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__button-close {
    position: absolute;
    left: 89%;
    @include flex;
    @include animation(fill);
        width: 40px;
        height: 40px;
        margin-top: 10px;
        padding: 0;
        border: none;
        background-color: transparent;
    
        &:hover,
        &:focus {
            outline: 1px solid $accent-color;
        }
    
        &:hover .icon-menu-close,
        &:focus .icon-menu-close {
            fill: $accent-color;
        }
    
        @media screen and (min-width: 768px) {
            display: none;
        }
}

.button-close__box {
        height: 19px;
        width: 19px;
}

.mobile__form {
    max-width: 480px;
    max-height: 796px;
    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;
    padding-right: 40px;
}

.mobile__list {
    @extend %list;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
        
}

.mobile__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }

    & a {
        color: $secondary-text-color;

        &:hover, &:focus {
            color: $accent-color;
        }
    }
}

.mobile__current {
    margin-bottom: 32px;

    & a {
        color: $accent-color;
    }
}

.mobile__info {
    @extend %list;
    margin-top: 43%;
}

.mobil__info__item {
    font-weight: 500;
        font-size: 34px;
        line-height: 40px;
    
        letter-spacing: 0.02em;
        
        & a {
            color: $accent-color;
        }
}

.mobile__link {
    margin-top: 32px;

    font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        
        & a {
            color: $primary-text-color;
        }
}

.mobile__social {
    @extend %list;
    display: flex;
    max-width: 450px;
    margin-top: 9%;
    flex-wrap: wrap;
}

.social__item {
    font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    
        letter-spacing: 0.02em;

        padding-right: 10px;
        padding-left: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border: none;
        }

        & a{
            color: $accent-color;
        }
}