.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    z-index: 1;
}

.backdrop.is-hidden {
    visibility: inherit;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    max-width: 528px;
    max-height: 581px;
    background-color: $white-color;
    transform: translate(-50%, -50%);

    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    position: absolute;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    left: 490px;
    top: 8px;
    right: 8px;

    background-color: $white-color;
    fill: black;
    background-repeat: no-repeat;
    @include bordered($size:1px, $color:rgba(0, 0, 0, 0.1), $radius: 50%);
    cursor: pointer;

    @include animation(fill);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}