.page-hero {
    text-align: center;
}

.overlay {
    height: 400px;
    margin: 0 auto;
    padding-top: 118px;
    
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/mobile-header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    @media screen and(min-width: $tablet){
        background-image: inear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url('../images/tablet-header.jpg');
    }

    @media screen and(min-width: $desctop){
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url('../images/new_photo.jpg');
    }
}

.hero__title {
    padding: 0 0 30px;
    text-align: center;

    color: $white-color;
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}