.page-hero {
    text-align: center;
}

.overlay {
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/new_photo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and(max-width: 797px){
        width: 480px;
        height: 400px;
        padding-top: 118px;
    }

    @media screen and(min-width: $desctop){
        width: 1600px;
            height: 600px;
        padding-top: 200px;
    }
}

.hero__title {
    padding-bottom: 30px;
    padding-top: 0;

    color: $white-color;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and(max-width:767px){
        font-size: 26px;
        line-height: 42px;
        text-align: center;
    }
}