.benefits {
    padding-bottom: 60px;
    padding-top: 60px;

    @media screen and(min-width: $desktop){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.benefits__list {
    @extend %list;
    
    padding-top: 0;
    padding-bottom: 0;

    @media screen and(min-width: $tablet){
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and(min-width: $desktop){
        @include flex($align: normal, $justify: space-between);
    }
}

.item {
    @media screen and(min-width: $tablet){
        width: calc((100% - 30px) / 2);
    }

    @media screen and(min-width: $desktop){
        width: calc((100% - 90px) / 4);
    }
    

    &::before {
        display: block;
        content: '';
        height: 120px;
        margin-bottom: 30px;
        background-color: $secondary-bg-color;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.benefits__item--details {
    @extend .item;

    margin-bottom: 30px;

    &::before {
            background-image: url('../images/antenna.svg');
        }

        @media screen and(min-width: $tablet) {
            margin-right: 30px;
        }

        @media screen and(min-width: $desktop){
            margin-bottom: 0;
            margin-right: 0;
        }
}

.benefits__item--clock {
    @extend .item;

    margin-bottom: 30px;

    &::before {
            background-image: url('../images/clock.svg');
        }

    @media screen and(min-width: $desktop){
        margin-bottom: 0;
    }
}

.benefits__item--diagram {
    @extend .item;

    margin-bottom: 30px;

    @media screen and(min-width: $tablet) {
            margin-right: 30px;
            margin-bottom: 0;
        }

    @media screen and(min-width: $desktop){
        margin-right: 0;
    }

    &::before {
            background-image: url('../images/diagram.svg');
        }
}

.benefits__item--astronaut {
    @extend .item;

    &::before {
            background-image: url('../images/astronaut1.svg');
        }
}

.benefits__title {
    margin-bottom: 10px;
    color: $secondary-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.benefits__text {
    margin-bottom: 0;
    margin-top: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}