.page-benefits {
    padding-bottom: 0;
    
    @media screen and(max-width: 1199px){
        padding-top: 60px;
    }

    @media screen and(min-width: $desctop){
        padding-top: 94px;
    }
}

.benefits {
    @extend %list;
    
    padding-top: 0;
    padding-bottom: 0;

    @media screen and(min-width: $desctop){
        @include flex($align: none, $justify: space-between);
    }
}

.item {
    @media screen and(min-width: $desctop){
        width: calc((100% - 90px) / 4);
    }
    

    &::before {
        display: block;
        content: '';
        height: 120px;
        margin-bottom: 30px;
        background-color: $secondary-bg-color;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.details__item {
    @extend .item;

    @media screen and(max-width: 767px) {
            margin-bottom: 30px;
        }

    &::before {
            background-image: url('../images/antenna.svg');
        }
}

.clock__item {
    @extend .item;

    @media screen and(max-width: 767px){
        margin-bottom: 30px;
    }

    &::before {
            background-image: url('../images/clock.svg');
        }
}

.diagram__item {
    @extend .item;

    @media screen and(max-width: 767px) {
            margin-bottom: 30px;
        }

    &::before {
            background-image: url('../images/diagram.svg');
        }
}

.astronaut__item {
    @extend .item;

    @media screen and(max-width: 767px) {
            margin-bottom: 60px;
        }

    &::before {
            background-image: url('../images/astronaut1.svg');
        }
}

.benefits__title {
    margin-bottom: 10px;
    color: $secondary-text-color;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and(max-width: 767px){
        text-align: center;
    }
}

.benefits__text {
    margin-bottom: 0;
    margin-top: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}