$primary-text-color: #757575;
$secondary-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$bg-color: #f5f4fa;
$secondary-bg-color: #F5F4FA;
$third-bg-color: #2f303a;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;